.header-row {
    background-color: rgb(221, 214, 228);
}

.progress-row {
    background-color: blanchedalmond;
}

.qa-row {
    background-color: lavenderblush;
}


.question-block {
    flex-grow: 1;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.question-block-left {
    background-color: black;
    color: white;
}

.question-block-active {
    background-color: red;
    color: white;
}

.question-block-right {
    background-color: rgb(187, 185, 185);
    color: white;
}

.timer {
    padding: 0 3px;
    border: 1px solid #000;
}